<h2>What is images.jasper.la?</h2>
<p>images.jasper.la is a mirror for SmartOS datasets/images.</p>
<p>The backend is running <a href="https://github.com/MerlinDMC/dsapid">MerlinDMC/dsapid</a>
	and the frontend is mostly a copy of <a href="https://github.com/MerlinDMC/dsapi-ui">MerlinDMC/dsapi-ui</a></p>

<h2>How can I use this mirror?</h2>
<p>To be able to use images.jasper.la as a source for datasets you need to add <code>http://images.jasper.la/</code> to the sources list of <code>imgadm</code> and refresh the dataset list.</p>
<p>images.jasper.la syncs with the default dataset server provided by joyent so it is also possible to replace the default entry completely.</p>

<pre>imgadm sources -a http://images.jasper.la/
imgadm sources -d https://images.joyent.com
imgadm update</pre>
<p>The source deletion of <code>https://images.joyent.com</code> can be skipped - it will just ensure that you'll grab every image from this mirror</p>

<div class="alert alert-info">
  It is also possible to use vim and edit the sources list manually by executing <code>imgadm sources -e</code>.
</div>

<h2>How do I switch back to the default source?</h2>

<pre>imgadm sources -d http://images.jasper.la/
imgadm sources -a https://images.joyent.com
imgadm update</pre>

<h2>What is the &laquo;Builder&raquo;?</h2>
<p>The builder is a short <span class="text-warning">(work-in-progress)</span> formula to generate a JSON file for use with <code>vmadm</code> on a SmartOS host.</p>
<p>The formular is able to dynamically add nics, disks (or filesystems) and metadata to the JSON file.
  It also tries to simplify adding metadata by providing a list of supported metadata keys for the selected dataset/image.</p>
